html,
body {
    margin: 0;
    padding: 0;
    font-family: inter;
}

button,
select {
    font-family: Funnel Sans;
}

/*Containers*/

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.6em 0;
    gap: 1em;
}

.input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.input-container > input,
.input-container > select,
.input-container > button {
    height: 2.5em;
}

.output-container {
    /*background-color: red;*/
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 2em;

    margin: 0;
}

.output-container div {
    flex: 1;
    height: 55vh;
    width: 100%;
    
}

.output-container p {
    text-align: center;
    margin: 0.5em auto;
}

.color-container {
    display: block;
}

.output-color {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.output-color:hover > .copy {
    opacity: 1;
}

.copy {
    opacity: 0;
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
    border: 1px solid none;
    padding: 0.8em 1.2em;
    background-color: rgba(37, 37, 37, 0.6);
    border-radius: 3px;
    /*box-sizing: border-box;*/
}

.copy-confirm {
    
    display: none;
    position: absolute; 
    top: 0.45em;
    font-family: Funnel Sans;
    font-size: 1rem;
    font-weight: 600;
    background-color: #fff;
    padding: 0.2em 0.4em;
    border-radius: 3px;

}

.visible {
    display: block;
}

/*Individual Colors*/

#color-0 {
    background-color: #f55a5a;
}

#color-1 {
    background-color: #2b283a;
}

#color-2 {
    background-color: #fbf3ab;
}

#color-3 {
    background-color: #aad1b6;
}

#color-4 {
    background-color: #a626d3;
}

/*ADJUSTMENTS FOR MOBILE DEVICES*/

@media (pointer: coarse) {
    .copy {
        opacity: 1;
    }
}

@media (max-width: 626px) {
    .output-container {
        flex-direction: column;
    }
    
    .output-container div {
        height: 25vh;
    }
}


