html, body {
    margin: 0;
    padding: 0;
    font-family: inter;
}



button,
select {
    font-family: Funnel Sans;
}


/*Containers*/

.main-container {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.6em 0;
    gap: 1em;
}

.input-container {
    
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.5em;
    
}

.input-container > input,
.input-container > select,
.input-container > button {
    height: 2.5em;
}

.output-container {
   
    /*background-color: red;*/
    width: 100%;
    display: flex;
    margin: 0;
    
    
}

.output-container div {
    flex: 1;
    height: 55svh;
}

.output-container  p {
    text-align: center;
    margin: 0.5em auto;
}

.color-container {
    display: block;
}

.output-color {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.output-color:hover > .copy{
    
    opacity: 1;
}

.copy {
    opacity: 0;
    color: #FFF;
    font-weight: 600;
    font-size: 1.5rem;
    border: 1px solid none;
    padding: 0.8em 1.2em;
    background-color: rgba(37, 37, 37, 0.6);
    border-radius: 3px;
    /*box-sizing: border-box;*/

    
}

/*Individual Colors*/


#color-0 {
 
    background-color: #F55A5A;
}


#color-1 {
  
    background-color: #2B283A;
}


#color-2 {
    background-color: #FBF3AB;
}


#color-3 {
    background-color: #AAD1B6;
}


#color-4 {
    background-color: #A626D3;
}




